@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}
.alert-info {
    background-color: cyan;
    border: solid 1px;
    width: 100%;
    text-align:center;
}
.nav-links{
    padding-left:0px;
}
.nav-links>li{
    background-color: grey;
    border: 1px solid;
    width:100%;
    margin-bottom:5px;
    text-align:center;
    list-style:none;
}
.header-img>img{
    width:100%;
    margin:0%;
}

h1{
    text-align:center;
}
/*.Media module to make desktop
 */
@media screen and (min-width:960px){
    .hidden-on-mobile{
        display:none;
    }
    h1{
        text-align:left;
        float:left;
        margin:15px 0px 15px 0px;
    }
    .nav-links{
        float:right;
        margin:26px 0px 16px 0px;
text-align: right;
    }
    .nav-links>li{
        display:inline;
        background-color:transparent;
        border:none;
    }
    .main{
        float:left;
        width:55%;
    }
    .sub-section{
        float:left;
        width:35%;
    }
    footer{
        clear:both;
    }

}
