.alert-info {
    background-color: cyan;
    border: solid 1px;
    width: 100%;
    text-align:center;
}
.nav-links>li{
    background-color: grey;
    border: 1px solid;
    width:100%;
    margin:5px;
    text-align:center;
    list-style:none;
}
.header-img>img{
    width:100%;

}